extends ../shared/views/layout

block content
    .container
        .row
            .col
                address Musterstraße 17
                    | 12345 Musterstadt
                    abbr(title='Phone') Tel.:
                    | 01234 567890
                address
                    strong #{'Email'}
                    a(href='mailto:contact@nodepage.com') contact@nodepage.com