doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    form
      input(type="hidden", name="redirectTo", value="{redirectTo}")
      ul
        li 
          button(type="submit" name="lang" value="en") #{__('locales.english')}
        li 
          button(type="submit", name="lang" value="de") #{__('locales.german')}
        li 
          button(type="submit", name="lang" value="de") #{__('locales.russian')}
    block content
